/* this for this app bar manus */
#mega-manus {
    display: none;
}

.manus:hover #mega-manus {
    display: block;
}

/* this for all swiper pagination slider  */
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #84E1BC;
}


/* this for trending product slick sliders */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: -1.8rem;
    right: 8%;
    width: 21px;
    height: 21px;
    transform: translate(0, -50%);
    cursor: pointer;
    border: green 1px solid;
    border-radius: 100%;
    outline: green;
    background-color: #84E1BC;
}

.slick-prev {
    top: -1.8rem;
    left: 90.5%;
    padding: 0.1rem 0 0.1rem 0;
}

.slick-next {
    top: -1.8rem;
    right: 6%;
    padding: 0.1rem 0 0.1rem 0;
}

@media screen and (max-width: 1400px) {
    .slick-prev {
        left: 90%;
    }
}

@media screen and (max-width: 1225px) {
    .slick-prev {
        left: 89%;
    }

    .slick-next {
        right: 6.5%;
    }
}

@media screen and (max-width: 1075px) {
    .slick-prev {
        left: 88%;
    }

    .slick-next {
        right: 7%;
    }
}

@media screen and (max-width: 992px) {
    .slick-prev {
        left: 85.5%;
    }

    .slick-next {
        right: 8.5%;
    }
}

@media screen and (max-width: 875px) {
    .slick-prev {
        left: 84.5%;
    }

    .slick-next {
        right: 9%;
    }
}

@media screen and (max-width: 768px) {
    .slick-prev {
        left: 83.5%;
    }

    .slick-next {
        right: 9.5%;
    }
}

@media screen and (max-width: 700px) {
    .slick-prev {
        left: 82.5%;
    }

    .slick-next {
        right: 10.5%;
    }
}

@media screen and (max-width: 675px) {
    .slick-prev {
        left: 80.5%;
    }

    .slick-next {
        right: 11.5%;
    }
}

@media screen and (max-width: 575px) {
    .slick-prev {
        left: 79%;
    }

    .slick-next {
        right: 12.5%;
    }
}

@media screen and (max-width: 550px) {
    .slick-prev {
        left: 78%;
    }

    .slick-next {
        right: 13%;
    }
}

@media screen and (max-width: 525px) {
    .slick-prev {
        left: 77%;
    }

    .slick-next {
        right: 13.5%;
    }
}

@media screen and (max-width: 500px) {
    .slick-prev {
        left: 76%;
    }

    .slick-next {
        right: 14.5%;
    }
}

@media screen and (max-width: 475px) {
    .slick-prev {
        left: 74%;
    }

    .slick-next {
        right: 15.5%;
    }
}

@media screen and (max-width: 450px) {
    .slick-prev {
        left: 72%;
    }

    .slick-next {
        right: 16.5%;
    }
}

@media screen and (max-width: 400px) {
    .slick-prev {
        left: 70%;
    }

    .slick-next {
        right: 17.5%;
    }
}

@media screen and (max-width: 375px) {
    .slick-prev {
        left: 68%;
    }

    .slick-next {
        right: 18.5%;
    }
}
@media screen and (min-width: 350px) { 
    .sm-link {
        display: none;
    }
}
@media screen and (max-width: 350px) {

    .slick-prev,
    .slick-next {
        top: -4.5rem;
    }

    .slick-prev {
        left: 83%;
    }

    .slick-next {
        right: 3%;
    }

    .lg-link {
        display: none;
    }
}

@media screen and (max-width: 350px) {
    .slick-prev {
        left: 82%;
    }
}

@media screen and (max-width: 350px) {
    .slick-prev {
        left: 81%;
    } 
    .slick-next {
        right: 2%;
    }
}

.product-img-box {
    transition: all linear .3s;
}
.icon-shadow-box {
    visibility: hidden;
    opacity: 0;
    transition: all linear .3s;
}
.product-img-box:hover .icon-shadow-box {
    visibility: visible;
    opacity: 1;
}