/* side bar customize start */
nav[aria-label="Sidebar with multi-level dropdown example"] {
    width: 100%;
}

nav[aria-label="Sidebar with multi-level dropdown example"]>div {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
}

/* side bar customize end */

/* *:focus {
    outline: none;
}  */
/* Add custom focus styles for all input elements except the one with aria-label="Search by name..." */

input[aria-label="Search by name..."]{
    border: none;
}
select[class="bg-transparent outline-none text-default-400 text-small"]{
    border: none;
}